[user]
  name = David
  email = davidcalvertfr@gmail.com
  signingkey = 56431FEC46391E05
[commit]
  gpgSign = true
[alias]
  st = status
  pp = pull --prune
  pb = !git push --set-upstream origin $(git branch --show-current)
  ci = commit -s -S
  cia = git commit --amend
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lp = log -p
  log = log --name-status
  lol = log --graph --decorate --pretty=oneline --abbrev-commit -n 20
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files
  # Show files ignored by git
  ign = ls-files -o -i --exclude-standard
[pull]
  rebase = false
[push]
  followTags = true
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait --new-window $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff --new-window $LOCAL $REMOTE
[url "git@github.com:"]
  insteadOf = gh: