name: ci-dotfiles

# Doc: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

on:
  push:
    tags:
      - "*"
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ci-dotfiles:
    runs-on: ubuntu-latest

    steps:
      # Doc: https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v6

      - name: Install deps, make & lint
        run: |
          apt update && apt install -y bash git make shellcheck vim
          make dotfiles vim
          shellcheck \
            ~/.bashrc \
            ~/.bash_profile \
            ~/.shellrc \
            ~/.zshrc
